	::-webkit-scrollbar {
  	width: 10px;
	}

	::-webkit-scrollbar-track {
  	background-color: grey ;
	}

	::-webkit-scrollbar-thumb {
	background-color:rgb(235,164,21) ;
	}

	::-webkit-scrollbar-thumb:hover {
  	background-color: rgb(255,255,153);
	}

	body{
		background-image: url(TUPV/trago.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100%;
	}

	#div1{
		height: 85px;
		width: 96%;
		background-color: rgb(235,164,21);
		position: fixed;
		right:2%;
		left: 2%;
	}

	.p1{
		font-size: 40px;
		font-family: amethyst;
		padding-top: 20px;
		margin-top: -75px;
		color: rgb(128,0,0);
	}

	li {
		display: inline;
	}

	#una li a{
		color: rgb(255,255,153) ;
		display: inline-block;
		padding: 10px;
		font-size: 40px;
		text-decoration: none;
		border-radius: 10px;
		margin-left: 50px;
		margin-top: 10px;
	}

	#duwa {
		margin-top: -107px;
	}

	#duwa li a{
		color:  rgb(255,255,153);
		display: inline-block;
		padding: 10px;
		font-size: 40px;
		text-decoration: none;
		border-radius: 10px;
		float: right;
		margin-right: 30px;
		margin-top: 4px;
	}
	
	li a:hover {
		background-color: rgb(128,0,0);
		cursor: pointer;
	}
 
	.div2{
		width: 70%;
		margin-top: 120px;
		margin-left: 27%;
	}

	h1{
		margin-top: 32%;
		font-family: amethyst;
		color: rgb(128,0,0);
		font-size: 50px;
	}

	.p2{
		font-family: footlight MT light;
		color: rgb(0,0,0);
		font-size: 40px;
		margin-left: 30%;
		margin-right: 20%;
	}