
	::-webkit-scrollbar {
  	width: 10px;
	}

	::-webkit-scrollbar-track {
  	background-color: grey ;
	}

	::-webkit-scrollbar-thumb {
	background-color:rgb(235,164,21) ;
	}

	::-webkit-scrollbar-thumb:hover {
  	background-color: rgb(255,255,153);
	}

	body{
		background-image: url(TUPV/NEGROS.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100%;
	}

	#div1{
		height: 85px;
		width: 96%;
		background-color: rgb(235,164,21);
		position: fixed;
		right:2%;
		left: 2%;
	} 

	.p1{
		font-size: 40px;
		font-family: amethyst;
		padding-top: 20px;
		margin-top: -75px;
		color: rgb(128,0,0);
	}

	li {
		display: inline;
	}

	#una li a{
		color: rgb(255,255,153) ;
		display: inline-block;
		padding: 10px;
		font-size: 40px;
		text-decoration: none;
		border-radius: 10px;
		margin-left: 50px;
		margin-top: 10px;
	}

	#duwa {
		margin-top: -107px;
	}

	#duwa li a{
		color:  rgb(255,255,153);
		display: inline-block;
		padding: 10px;
		font-size: 40px;
		text-decoration: none;
		border-radius: 10px;
		float: right;
		margin-right: 30px;
		margin-top: 4px;
	}
	
	li a:hover {
		background-color: rgb(128,0,0);
		cursor: pointer;
	}

	#div2{
		background-color: transparent;
		height: inherit;
		margin-top: 50px;
		text-overflow: hidden;
	}

	.tup {
		font-family: Century Gothic;
		font-size: 50px;
		background-color:rgb(235,164,21);
		opacity: .8;
		border: 5px solid rgb(128,0,0);
		padding: 50px;
		text-align: center;
		width: 60%;
		margin-left: 17%;
	}

	.tup a{
		text-decoration: none;
		color: rgb(128,0,0);
	}
	
	#pic1:hover {
		background-image: url(TUPV/SIPAY.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic2:hover {
		background-image: url(TUPV/KABANKALAN.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic3:hover {
		background-image: url(TUPV/HIMAMA.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic4:hover {
		background-image: url(TUPV/SILAY.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic5:hover {
		background-image: url(TUPV/CADIZ.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic6:hover {
		background-image: url(TUPV/VICTORIAS.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic7:hover {
		background-image: url(TUPV/HIMAY.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic8:hover {
		background-image: url(TUPV/TALISAY.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic9:hover {
		background-image: url(TUPV/bag.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic11:hover {
		background-image: url(TUPV/BACOLOD.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#pic12:hover {
		background-image: url(TUPV/SAGAY.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

        #pic13:hover {
		background-image: url(TUPV/ESCALA.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
  	}

	#pic14:hover {
		background-image: url(TUPV/SANCAR.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		cursor: pointer;
	}

	#div3{
		height: 700px;
	}

	.div4{
		height: auto;
		width: 60%;
		font-family: Century Gothic;
		font-size: 25px;
		border: 5px solid white;
		text-align: center;
		padding: 10px;
		margin-left: 20%;
		margin-top: 100px;
		background: linear-gradient(rgb(255,153,0),rgb(204,102,0));
		opacity: .7;
	}
	.div4 h1, .div4 h2 {
		color: rgb(139,0,0);
	}

	.vid{
		height: 600px;
	}